process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 128,
        time: 672.h
    ]
    executor       = 'slurm'
    queue          = ''
    maxRetries     = 1
    scratch        = '$SCRATCH'
}

executor {
    queueSize = 50
}

singularity {
    enabled    = true
    autoMounts = true
}
