params.outdir="results"

profiles {
  conda {
    useMamba = true
    // Allow longer conda creation timeout
    conda.createTimeout = '1 h'
  }
}

process {
  withLabel: cpu_def {
    cpus = 4
    memory = 16.GB
  }

  withLabel: cpu8 {
    cpus = 8
    memory = 32.GB
  }

  withLabel: cpu32 {
    cpus = 32
    memory = 128.GB
  }
}

process {
  executor = 'slurm'
  queue = 'compute'
}

// Generate report
report {
  enabled = true
  file = "report_$params.outdir/report.html"
}
// Timeline
timeline {
  enabled = true
  file = "report_$params.outdir/timeline.html"
}
// DAG
dag {
  enabled = true
  file = "report_$params.outdir/dag.html"
}
