// ----------------------------------------------------------------------------
// Container configuration
// ----------------------------------------------------------------------------
docker {
    enabled = params.enable_container
}

singularity {
    enabled = params.enable_container
    cacheDir = env('HOME') + "/.singularity/cache/"
    autoMounts = true
}

// ----------------------------------------------------------------------------
// Reports
// ----------------------------------------------------------------------------
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

// ----------------------------------------------------------------------------
// Process resources
// ----------------------------------------------------------------------------
process {
    cpus = 8
    memory = 8.GB
    time = 4.h

    beforeScript = 'mkdir -p ./tmp/'

    withLabel: cpu_def {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }

    withLabel: cpu8 {
        cpus = 8
        memory = 16.GB
        time = 4.h
    }

    withLabel: cpu16 {
        cpus = 16
        memory = 32.GB
        time = 8.h
    }

    withLabel: highparallel {
        cpus = 16
        memory = 16.GB
        time = 8.h
    }

    withLabel: highcpu {
        cpus = 64
        memory = 48.GB
        time = 12.h
    }

    withLabel: highmem {
        cpus = 16
        memory = 500.GB
        time = 8.h
    }
}

// ----------------------------------------------------------------------------
// Environment
// ----------------------------------------------------------------------------
env {
    TMPDIR = './tmp/'
}
