// conf/low_resource_override.config

process {
    cpus = 1
    memory = 1.GB
    time = 4.h

    withLabel: cpu_def {
        cpus = 1
        memory = 1.GB
        time = 4.h
    }

    withLabel: highparallel {
        cpus = 1
        memory = 1.GB
        time = 4.h
    }

    withLabel: highcpu {
        cpus = 1
        memory = 1.GB
        time = 4.h
    }

    withLabel: cpu8 {
        cpus = 1
        memory = 1.GB
        time = 4.h
    }

    withLabel: cpu16 {
        cpus = 1
        memory = 1.GB
        time = 4.h
    }
}
