// conf/test_euk_long.config

params {
    input    = "${projectDir}/tests/assets/euk_long/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/euk_long/metadata_test.tsv"

    nb_databases      = ['euk_long']
    vsearch_databases = ['euk_long']

    // 18S
    forward_p = [
    'TTAAAAMGCTCGTAGTYG',
    'TTAAAWCARTTATWRTYT'
    ]
    reverse_p = 'ATTAAACWGTYRGATTCCC'

    // VSEARCH LCA
    vsearch_lca_id         = 0.60
    vsearch_lca_query_cov  = 0.60
    vsearch_lca_maxaccepts = 0
    vsearch_lca_maxrejects = 0
    vsearch_lca_cutoff     = 0.90

    min_len = 3000
    max_len = 5500

}
