// conf/test_16s.config

params {
    input    = "${projectDir}/tests/assets/16S/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/16S/metadata_test.tsv"

    nb_databases      = ['silva', 'gg2', 'gtdb']
    vsearch_databases = ['silva', 'gtdb', 'gg2']
    
    forward_p = 'AGRGTTYGATYMTGGCTCAG'
    reverse_p = 'AAGTCGTAACAAGGTARCY'

    
    min_len = 1000
    max_len = 1600

    maxaccept = 0 
    maxreject = 0

}
