// // conf/test.config
// ----------------------------------------------------------------------------
// Shared test profile
// ----------------------------------------------------------------------------

params {
    outdir = "results_test"

    downsample   = 180
    learn_nbases = 1e5

    min_asv_total_freq = 1
    min_asv_sample     = 0

    db_base_dir    = "${projectDir}/tests/tiny_db"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

process {
    resourceLimits = [
        cpus: 2,
        memory: 15.GB,
        time: 2.h
    ]
}
