// conf/test_16s.config

params {
    input    = "${projectDir}/tests/assets/16S/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/16S/metadata_test.tsv"

    nb_databases      = ['silva', 'gg2', 'gtdb']
    vsearch_databases = ['silva']

    // or for fuller taxonomy test:
    // nb_databases      = ['silva', 'gtdb', 'gg2']
    // vsearch_databases = ['silva', 'gtdb', 'gg2']
}
