// ----------------------------------------------------------------------------
// Test profile
// ----------------------------------------------------------------------------

params {
    // Small test inputs
    input    = "${projectDir}/tests/assets/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/metadata_test.tsv"

    // Test output
    outdir = "results_test"

    // Keep test run small
    downsample   = 180
    learn_nbases = 1e5

    // Relax filtering for tiny data
    min_asv_total_freq = 1
    min_asv_sample     = 0

    // Use tiny test databases
    databases_yaml    = "${projectDir}/tests/databases.yml"
    db_base_dir       = "${projectDir}/tests/tiny_db"

    nb_databases      = ['silva']
    // nb_databases      = ['silva', 'gtdb', 'gg2']
    vsearch_databases = ['silva']
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

// ----------------------------------------------------------------------------
// Test resource limits
// ----------------------------------------------------------------------------

process {
    resourceLimits = [
        cpus: 2,
        memory: 1.GB,
        time: 2.h
    ]
}
