// conf/test_18s.config

params {
    input    = "${projectDir}/tests/assets/18S/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/18S/metadata_test.tsv"

    nb_databases      = ['eukaryome_18s']
    vsearch_databases = ['eukaryome_18s']

    // 18S
    forward_p = [
    'TTAAAAMGCTCGTAGTYG',
    'TTAAAWCARTTATWRTYT'
    ]
    reverse_p = 'ATTAAACWGTYRGATTCCC'

    min_len = 800
    max_len = 5000

}
