// conf/test_its.config

params {
    input    = "${projectDir}/tests/assets/its/sampledata_test.tsv"
    metadata = "${projectDir}/tests/assets/its/metadata_test.tsv"

  nb_databases      = ['eukaryome_its']
    vsearch_databases = ['eukaryome_its']

    // ITS
    forward_p = 'TCCGTAGGTGAACCTGC'
    reverse_p = 'GCATATCAATAAGCGGAGGA'

    min_len = 500
    max_len = 1000

}

